<mat-sidenav-container autosize="true" scrollable="false">
    <mat-sidenav-content>
        <mat-toolbar color="accent" style="color:white;">
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
                    aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>{{this.title}}</span>
            <span class="example-spacer"></span>

        </mat-toolbar>
        <main>
            <section class="mat-typography">
                <mat-drawer-container autosize>
                    <mat-drawer #drawer mode="push" position="start" autoFocus="false">
                        <div class="menucontainer">

                            <ng-container>
                                <p style="color:#333333; font-size: 1.2em;"><strong>Navigation</strong></p>
                            </ng-container>

                            <div>
                                <a mat-icon-button (click)="drawer.toggle()" routerLink="/">
                                    <mat-icon class="icon">home</mat-icon>
                                    <span>Startseite</span>
                                </a>
                            </div>
                            <div>
                                <a mat-icon-button (click)="drawer.toggle()" routerLink="/playground">
                                    <mat-icon class="icon">science</mat-icon>
                                    <span>Playground</span>
                                </a>
                            </div>
                            <div>
                                <a mat-icon-button (click)="drawer.toggle()" routerLink="/zi-sim">
                                    <mat-icon class="icon">history</mat-icon>
                                    <span>Original-Algorithmus vom Zi</span>
                                </a>
                            </div>
                            <div>
                                <a mat-icon-button (click)="drawer.toggle()" href="https://www.zidatasciencelab.de/cov19vaccsim/">
                                    <mat-icon class="icon">link</mat-icon>
                                    <span>Dashboard vom Zi</span>
                                </a>
                            </div>
                            <div>
                                <a mat-icon-button (click)="drawer.toggle()" href="https://github.com/Cov19-Impfvorhersage/cov19vaccsim">
                                    <mat-icon class="icon" svgIcon="github">GitHub</mat-icon>
                                    <span>Code auf GitHub</span>
                                </a>
                            </div>
                        </div>
                    </mat-drawer>
                    <mat-drawer-content>
                        <!-- Offline message-->
                        <div class="offlinemsg" *ngIf="false"><strong>Keine Internetverbindung</strong><br>Dieses Portal
                            benötigt
                            eine aktive Internetverbindung.
                        </div>
                        <router-outlet></router-outlet>
                    </mat-drawer-content>
                </mat-drawer-container>
            </section>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- Footer nur für Desktop Screen -->
<footer>
    <div style="background: black!important;">
        <div fxLayout="column" fxLayoutGap="0.5rem">

            <div fxLayout="column wrap" fxLayoutAlign="space-around start">
                <div fxflex=28>
                    <p>
                        <mat-list style="color:white;">
                            <mat-list-item>
                                <span style="color:white;"><strong>Navigation</strong></span>
                            </mat-list-item>
                            <mat-list-item>
                                <a style="color:white;"
                                      routerLink="/Methoden">Methoden</a>
                            </mat-list-item>
                            <mat-list-item>
                                <a style="color:white;"
                                      href="https://www.zidatasciencelab.de/covid19dashboard/Impressum.html">
                                    Impressum und Datenschutzhinweise
                                </a>
                            </mat-list-item>
                            <mat-list-item>
                                <span style="color:white;">
                                    Basierend auf der
                                    <a href="https://www.zidatasciencelab.de/cov19vaccsim"><strong>Impfsimulation des Zi Data Science Lab</strong></a>
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </p>
                </div>

                <div fxFlex fxLayout="column" fxLayoutAlign="space-between end">
                    <div fxFlex>
                        <br>
                    </div>
                    <div style="padding: 1rem; text-align: center; color:white;">
                        <a href="https://github.com/Cov19-Impfvorhersage/cov19vaccsim">
                            <mat-icon svgIcon="github" style="vertical-align: middle; padding-bottom: 2px; margin-right: .6em;">GitHub</mat-icon>
                            Follow this project on GitHub
                        </a>

                    </div>
                </div>

            </div>
        </div>


    </div>
</footer>
