



<div class="cont_ainer" style="margin-left: 0.5rem; margin-right: 0.5rem;" [ngStyle.lt-md]="{'padding': '0.1rem', 'margin': 'auto'}" fxLayout="row" fxLayout.lt-md="column"
     fxLayoutAlign="space-around stretch">

    <div fxFlex="1 0 600px" fxFlex.lt-md="1 1 0" >
        <mat-card>
            <mat-card-title><h1>Stand der Impfkampagne</h1>
            </mat-card-title>
            <mat-card-subtitle>Datenbasis: Impfungen lt. RKI (Stand {{this.lastRefreshVaccinations | date:'shortDate'}}), Lieferungen lt. BMG (Stand {{this.lastRefreshDeliveries | date:'shortDate'}}), Kapazität lt. GMK (Stand {{this.lastRefreshCapacity | date:'shortDate'}})</mat-card-subtitle>

            <mat-card-content class="mat-padding">

                <app-dummy-chart
                    class="dummy-chart"
                    style="width: 100%"
                    [data]="data"
                ></app-dummy-chart>
            </mat-card-content>

        </mat-card>
    </div>

    <div fxFlex="0.3 0 350px" fxFlex.lt-md="0.5 0 0">
        <mat-card>
            <mat-card-title>Simulationsparameter</mat-card-title>
            <mat-card-content class="settings_card">
                <div>
                    <h2><strong>Zulassung</strong></h2>
                    <div class="settings_row">
                        <mat-slide-toggle [(ngModel)]="this.params.ruecklage"
                                          (change)="this.runSimulation();" labelPosition="before">
                            Kontraindizierte beachten (vor allem Alter)
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row">
                        <p>Ausfall / Zulassung simulieren:</p>
                        <!--<p
                            *ngFor="let hersteller of this.hersteller_zugelassen_details">
                            <ng-container *ngIf="!hersteller.checked">
                                <mat-checkbox [(ngModel)]="hersteller.checked" (change)="this.addremovehst(hersteller.hersteller,false);this.update_kapazitaet();" >
                                    {{hersteller.hersteller}}
                                </mat-checkbox>
                            </ng-container>
                            <ng-container *ngIf="hersteller.checked">
                                <mat-checkbox [(ngModel)]="hersteller.checked" (change)="this.addremovehst(hersteller.hersteller,true);this.update_kapazitaet();" >
                                    {{hersteller.hersteller}}
                                </mat-checkbox>
                            </ng-container>

                        </p>-->
                        <!--<p
                            *ngFor="let hersteller of this.hersteller_nicht_zugelassen">
                            <mat-checkbox [(ngModel)]="hersteller.checked"
                                          (change)="this.addremovehst(hersteller.hersteller,hersteller.checked);this.update_kapazitaet();" >
                                {{hersteller.hersteller}}
                            </mat-checkbox>
                        </p>-->
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Lieferung</strong></h2>
                    <div class="settings_row">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Liefermenge:</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{this.params.liefermenge*100 | number:'1.0-0'}} %</strong>
                            </div>
                        </div>
                        <mat-slider [(ngModel)]="this.params.liefermenge" min=".8" max="1.2" step="0.01"
                                    (change)="this.runSimulation();"></mat-slider>
                    </div>
                    <div class="settings_row">
                        <p>Verteilung der Lieferungen:</p>
                        <div style="margin-left: 1.5rem;">
                            <mat-radio-group class="my-radio-group" [(ngModel)]="this.params.verteilungszenario"
                                             (change)="this.extractDeliveriesInfo();">
                                <ng-container *ngFor="let szenario of this.zislabImpfsimVerteilungszenarien">
                                    <mat-radio-button class="my-radio-button" [value]="szenario">{{szenario}}
                                    </mat-radio-button><br/>
                                </ng-container>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Impforganisation</strong></h2>

                    <div class="settings_row" >
                        <mat-slide-toggle [(ngModel)]="this.params.ruecklage"
                                          (change)="this.runSimulation();" labelPosition="before">
                            Rückstellungen für Zweitimpfungen
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Abstand Erst- zu Zweitimpfung:</div>
                            <div fxFlex="0 0 auto" >
                                <span *ngIf="this.params.addweekstoabstand==0"> laut STIKO</span>
                                <span *ngIf="this.params.addweekstoabstand>0"><strong>{{this.params.addweekstoabstand}}
                                    Wochen länger</strong></span>
                            </div>
                        </div>
                        <mat-slider [(ngModel)]="this.params.addweekstoabstand" min="0" max="12" step="1"
                                    (change)="this.runSimulation();"></mat-slider>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Impfbereitschaft</strong></h2>

                    <div class="settings_row">
                        <mat-slide-toggle [(ngModel)]="this.params.ruecklage"
                                          (change)="this.runSimulation();" labelPosition="before">
                            Nicht Impfwillige beachten
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row">
                        <p>Impfbereitschaft:
                            <mat-slider [(ngModel)]="this.params.anteil_impfbereit" min=".5" max="1.0" step="0.05"
                                        (change)="this.runSimulation();"></mat-slider>
                            <strong>{{this.params.anteil_impfbereit*100 | number:'1.0-0'}} % </strong>impfbereit
                        </p>
                    </div>
                    <div class="settings_row">
                        <mat-slide-toggle labelPosition="before">
                            A toggle test
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row">
                        <mat-checkbox
                            class="example-margin" labelPosition="before">
                            I'm a checkbox
                        </mat-checkbox>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>



<div class="container" style="min-height: auto" fxLayout="column"
     fxLayoutGap="1rem" fxLayoutAlign="space-around">
    <div fxFlex="100" >
        <mat-card >
            <mat-card-title><h1>Methodische Informationen</h1>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>

            <mat-card-content class="mat-padding">
                Bla bla bla
            </mat-card-content>

        </mat-card>
    </div>
</div>
