@use '~@angular/material/core/style/variables';
@use '~@angular/material/theming';
@import '../../../styles.colors';

h2, h3 {
    margin: 16px 0 5px;
}

h3 {
    font-weight: bold;
}

p {
    margin: 8px 0 0;
}

:host ::ng-deep mat-form-field.slim {
    .mat-form-field-wrapper {
        padding: 0;

        .mat-form-field-infix {
            padding: 0.25em 0 0.5em 0;
        }
        .mat-select-arrow-wrapper {
            transform: translateY(-10%);
        }

        //change top and padding-top as per required
        .mat-form-field-label-wrapper {
            top: -1.5em;
            padding-top: 1.5em;
        }

    }
    &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.0em) scale(.75);
    }
}

:host ::ng-deep mat-button-toggle-group.slim {
    .mat-button-toggle-label-content {
        line-height: 28px;
    }
    .mat-button-toggle-checked .mat-button-toggle-label-content {
        //font-weight: 500;
    }
}

.chart_card {
    min-height: 60vh;

    mat-progress-spinner {
        margin: auto;
        margin-top: 20vh;
    }

    .top-bar {
        box-sizing: border-box;
        width: 100%;
        height: 2.5em;
        max-height: 2.5em;
        overflow: visible;
        margin-top: 0.5em;
        padding-left: 1em;

        mat-button-toggle-group {
            margin-top: 0;
        }
    }

    .dummy-chart {
        width: 100%;
        height: 69vh;
        max-height: 105vw;
    }
}
:host ::ng-deep .chart_card mat-slider.simulation-start {
    padding: 0;
    margin-top: -15px;
    margin-bottom: -10px;


    // No colors on track
    /*.mat-slider-track-background {
        background-color: theming.mat-color($accent);
    }*/
    .mat-slider-track-fill {
        background-color: rgba(0, 0, 0, 0.26);
    }

    .mat-slider-thumb {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid theming.mat-color($accent);
        border-bottom: 10px solid transparent;
        border-radius: 0;
        background: transparent;
        border-right: 0;
    }
}

span.line {
    display: inline-block;
}

.textbadge {
    display: inline;
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: middle;
    padding: 0.1em 0.5em;
    margin: 0 0.5em;
    background: rgba(144, 238, 144, 0.6);
    border-radius: 5em;
}
/*
.textbadge {
    display: inline-block;
    position: relative;
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: middle;
    padding: 0 0.5em;
    margin: 0 0.5em;
    z-index: 1;

    &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 10%;
        bottom: 12%;
        right: 0;
        left: 0;
        background: lightgray;
        border-radius: 5em;
    }
}*/


.tooltip-info {
    position: absolute;
    margin-left: -2.2em;
    // margin-top: 0.5em;
    font-size: 1em;
    color: #bbb;
}

/*
.mat-tooltip-trigger:before {
    content: 'help_outline';
    font-size: 0.7em;
    color: grey;
    position: absolute;
    margin-left: -12px;

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}*/


.onlySmall {
    display: none;
}
.onlyWide {
    display: initial;
}
@media(variables.$mat-small) {

    .onlySmall {
        display: initial;
    }
    .onlyWide {
        display: none;
    }

    // This is actually defined in angular material but for some reason it doesn't load so we have to redefine it again...
    :host ::ng-deep .mat-tab-label {
        padding: 0 12px;
    }

    .chart_card > mat-card-content {
        margin-top: -16px;
        margin-left: -16px;
        margin-right: -16px;
        /*
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;*/
    }
}


.settings_card {
    /* Make lines between the setting areas space nicely */
    > div {
        margin: 20px 0 8px 0;
    }

    /* Individual settings per row with some margin */
    .settings_row {
        margin: 8px 0 0;

        /* Sliders full-width and with less margin so they are visually grouped to the text above nicely */
        > mat-slider:last-child {
            width: 94%;
            margin-left: 3%;
            margin-top: -8px;
            margin-bottom: -3px;
        }


        .slider-with-reset{
            mat-slider {
                width: 97%;
                margin-left: 3%;
                margin-top: -4px;
                margin-bottom: -4px;
            }

            .mat-icon-button {
                color: grey;
            }
        }
    }
}

/* Need some deep styling here to make Slide-Toggles & Checkboxes full-width with their active element nicely aligned on the right */
:host ::ng-deep .settings_card {

    mat-slide-toggle.mat-slide-toggle-label-before, mat-checkbox.mat-checkbox-label-before {
        width: 100%;

        > label {
            display: flex;
            place-content: space-between;

            .mat-checkbox-inner-container {
                margin-right: 8px;
            }
        }
    }
}

.custom-test-tooltip {
    position: fixed;
    width: 300px;
    background: rgba(white, 0.3);
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
    transition: opacity 200ms ease;
}
