



<div class="cont_ainer" style="margin-left: 0.5rem; margin-right: 0.5rem;" [ngStyle.lt-md]="{'padding': '0.1rem', 'margin': 'auto'}" fxLayout="row" fxLayout.lt-md="column"
     fxLayoutAlign="space-around stretch">

    <div fxFlex="1 0 600px" fxFlex.lt-md="1 1 0" >
        <mat-card class="chart_card">
            <mat-card-content>
                <mat-progress-spinner
                    *ngIf="!loaded"
                    mode="indeterminate"
                    color="accent">
                </mat-progress-spinner>
                <div *ngIf="loaded">
                    <mat-tab-group animationDuration="0">
                        <mat-tab label="Geimpfte Bevölkerung">
                            <div class="top-bar">
                                <mat-button-toggle-group class="slim" *ngIf="featureFlagYAxisScale" [(ngModel)]="displayYAxisScale" (change)="buildYScaleConfigurations()">
                                    <mat-button-toggle value="num"><span class="onlyWide">Personen</span><span class="onlySmall"># P.</span></mat-button-toggle>
                                    <mat-button-toggle value="percent"><span class="onlyWide">Prozent</span><span class="onlySmall">% Bev.</span></mat-button-toggle>
                                </mat-button-toggle-group>

                                <mat-form-field color="accent" appearance="outline" class="slim"
                                                style="position: absolute; right: 0; width: 25em; max-width: 60%;"
                                                matTooltip="Aufteilung der Bevölkerung im rechten Balken der Grafik.
                                                Hat keinen Einfluss auf die Simulation, die nur von der Impfbereitschaft abhängt,
                                                daher entspricht die Reihenfolge der Blöcke auch nicht automatisch der logischen Impfreihenfolge
                                                (Insb. beim Alter, da ja nicht strikt nach Alter geimpft wird).">
                                    <mat-icon class="tooltip-info">help</mat-icon>
                                    <mat-label>Aufteilung im rechten Balken</mat-label>
                                    <mat-select [(ngModel)]="displayPartitioning" (selectionChange)="buildChartPopulation()" >
                                        <ng-container *ngFor="let p of simulation.partitionings | keyvalue: originalOrder">
                                            <mat-option [value]="p.key">{{p.value.title}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <app-prediction-line-chart
                                class="dummy-chart"
                                style="width: 100%"
                                [data]="chartPopulation"
                                [config]="chartPopulationConfig"
                            ></app-prediction-line-chart>
                            <!--
                                (tooltipUpdate)="updateTooltip($event)"

                                experimental tooltip
                                - any html content + css styles, animations and transitions possible
                                - you have to take care of positioning yourself
                            -->
                            <div
                                *ngIf="experimentalTooltipUpdate"
                                class="custom-test-tooltip"
                                [style.opacity]="experimentalTooltipUpdate.showTooltip ? 1 : 0"
                                [style.left]="experimentalTooltipUpdate.mouseEvent.clientX + 15 + 'px'"
                                [style.top]="experimentalTooltipUpdate.mouseEvent.clientY + 15 + 'px'"
                            >
                                {{experimentalTooltipText}}
                            </div>
                        </mat-tab>
                        <mat-tab label="Wöchentliche Impfungen">
                            <div class="top-bar">
                                <mat-button-toggle-group class="slim" *ngIf="featureFlagYAxisScale" [(ngModel)]="displayYAxisScale" (change)="buildYScaleConfigurations()">
                                    <mat-button-toggle value="num"><span class="onlyWide">Anzahl Impfdosen</span><span class="onlySmall"># Dosen</span></mat-button-toggle>
                                    <mat-button-toggle value="percent"><span class="onlyWide">Prozent der Bevölkerung</span><span class="onlySmall">% Bev.</span></mat-button-toggle>
                                </mat-button-toggle-group>
                                &nbsp;<span class="onlySmall">pro &nbsp;</span>
                                <mat-button-toggle-group class="slim" *ngIf="featureFlagYAxisScale" [(ngModel)]="displayYAxisScaleTimeframe" (change)="buildYScaleConfigurations()">
                                    <mat-button-toggle value="week"><span class="onlyWide">pro Woche</span><span class="onlySmall">Woche</span></mat-button-toggle>
                                    <mat-button-toggle value="day"><span class="onlyWide">pro Tag</span><span class="onlySmall">Tag</span></mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <app-prediction-line-chart
                                class="dummy-chart"
                                style="width: 100%"
                                [data]="chartWeeklyVaccinations"
                                [config]="chartWeeklyVaccinationsConfig"
                            ></app-prediction-line-chart>
                        </mat-tab>
                        <mat-tab label="Wöchentliche Lieferungen">
                            <div class="top-bar">
                                <!--WIP; dieser Graph bekommt noch stacking...-->
                                <mat-button-toggle-group class="slim" *ngIf="featureFlagYAxisScale" [(ngModel)]="displayYAxisScale" (change)="buildYScaleConfigurations()">
                                    <mat-button-toggle value="num"><span class="onlyWide">Anzahl Impfdosen</span><span class="onlySmall"># Dosen</span></mat-button-toggle>
                                    <mat-button-toggle value="percent"><span class="onlyWide">Prozent der Bevölkerung</span><span class="onlySmall">% Bev.</span></mat-button-toggle>
                                </mat-button-toggle-group>
                                &nbsp;<span class="onlySmall">pro &nbsp;</span>
                                <mat-button-toggle-group class="slim" *ngIf="featureFlagYAxisScale" [(ngModel)]="displayYAxisScaleTimeframe" (change)="buildYScaleConfigurations()">
                                    <mat-button-toggle value="week"><span class="onlyWide">pro Woche</span><span class="onlySmall">Woche</span></mat-button-toggle>
                                    <mat-button-toggle value="day"><span class="onlyWide">pro Tag</span><span class="onlySmall">Tag</span></mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <app-prediction-line-chart
                                class="dummy-chart"
                                style="width: 100%"
                                [data]="chartWeeklyDeliveries"
                                [config]="chartWeeklyDeliveriesConfig"
                            ></app-prediction-line-chart>
                        </mat-tab>
                        <mat-tab label="Impfdosen insgesamt">
                            <div class="top-bar">
                                <mat-button-toggle-group class="slim" *ngIf="featureFlagYAxisScale" [(ngModel)]="displayYAxisScale" (change)="buildYScaleConfigurations()">
                                    <mat-button-toggle value="num"><span class="onlyWide">Anzahl</span><span class="onlySmall">#</span> Impfdosen</mat-button-toggle>
                                    <mat-button-toggle value="percent"><span class="onlyWide">Prozent</span><span class="onlySmall">%</span> der Bevölkerung</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <app-prediction-line-chart
                                class="dummy-chart"
                                style="width: 100%"
                                [data]="chartCumulativeDeliveries"
                                [config]="chartCumulativeDeliveriesConfig"
                            ></app-prediction-line-chart>
                        </mat-tab>
                    </mat-tab-group>
                    <div matTooltip="Startwoche der Simulation.
                                Nützlich, um die Simulation mit echten Daten zu vergleichen;
                                allerdings ist zu beachten, dass stets die neuesten Lieferdaten & -Ankündigungen verwendet werden.">
                        <mat-icon class="tooltip-info" style="margin-left: 0.5em; margin-top: 0.1em;">help</mat-icon>
                        <mat-slider class="simulation-start"
                                    [(ngModel)]="simulationStartWeekNum"
                                    (change)="runSimulation();"
                                    [min]="simulationStartSlider.min" [max]="simulationStartSlider.max" step="1"
                                    [style]="'width: '+simulationStartSlider.width*100+'%; margin-left: '+simulationStartSlider.startOffset*100+'%;'"
                        ></mat-slider>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-subtitle *ngIf="loaded">
                Datenbasis:
                <span class="line">Impfungen lt. RKI (Stand {{dataloader.updateDates.vaccinationsLastUpdated | date:'shortDate'}}),&nbsp;</span>
                <span class="line">Lieferungen lt. BMG (Stand {{dataloader.updateDates.deliveryLastUpdated | date:'shortDate'}}),&nbsp;</span>
                <span class="line">Lieferpläne lt. Zi-Datalab / BMG</span>
            </mat-card-subtitle>
        </mat-card>
    </div>

    <div fxFlex="0.1 0 350px" fxFlex.lt-md="0.5 0 0">
        <mat-card>
            <mat-card-title>Simulationsparameter</mat-card-title>
            <mat-card-content class="settings_card">
                <div>
                    <h2><strong>Zulassung</strong></h2>
                    <div class="settings_row" matTooltip="Personen, die keinen der aktuell verfügbaren Impfstoffe erhalten können, z.B. weil sie zu jung sind.">
                        <mat-slide-toggle [(ngModel)]="simulation.params.considerContraindicated"
                                          (change)="runSimulation();" labelPosition="before">
                            Kontraindizierte beachten
                        </mat-slide-toggle>
                        <div style="margin-left: 1.5rem;">
                            <mat-radio-group class="my-radio-group" [(ngModel)]="simulation.params.contraindicationAge"
                                             (change)="runSimulation();">
                                <ng-container *ngFor="let age of availableAgeLimits">
                                    <mat-radio-button class="my-radio-button" [value]="age">Impfungen ab {{age}}
                                    </mat-radio-button><br/>
                                </ng-container>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="settings_row">
                        <p matTooltip="Welche Impfstoffe für die Simulation beachtet werden sollen." >Ausfall / Zulassung simulieren:</p>
                        <div style="margin-left: 1.5rem;">
                            <p
                                *ngFor="let vacc of simulation.params.vaccinesUsed | keyvalue: originalOrder">
                                <mat-checkbox [(ngModel)]="vacc.value.used"
                                              (change)="runSimulation();" labelPosition="before">
                                    {{simulation.vaccineUsage.getVaccineDisplayName(vacc.key)}}
                                    <span *ngIf="simulation.vaccineUsage.isVaccineUsed(simulationStartWeek, vacc.key)" class="textbadge">Zugelassen</span>
                                </mat-checkbox>
                            </p>
                        </div>
                        <!--<p
                            *ngFor="let hersteller of hersteller_nicht_zugelassen">
                            <mat-checkbox [(ngModel)]="hersteller.checked"
                                          (change)="addremovehst(hersteller.hersteller,hersteller.checked);update_kapazitaet();" >
                                {{hersteller.hersteller}}
                            </mat-checkbox>
                        </p>-->
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Lieferung</strong></h2>
                    <div class="settings_row">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Liefermenge:</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{simulation.params.deliveryAmountFactor*100 | number:'1.0-0'}} %</strong>
                            </div>
                        </div>
                        <div class="slider-with-reset" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxFlex="1 0 auto" >
                                <mat-slider [(ngModel)]="simulation.params.deliveryAmountFactor" min=".8" max="1.2" step="0.01"
                                            (change)="runSimulation();"></mat-slider>
                            </div>
                            <div fxFlex="0 0 auto" >
                                <button mat-icon-button aria-label="Zurücksetzen" (click)="simulation.params.deliveryAmountFactor = 1; runSimulation();">
                                    <mat-icon>restore</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="settings_row">
                        <p matTooltip="Lieferungsszenarien des ZI-Data Labs basierend auf den Ankündigungen der Hersteller">Verteilung der Lieferungen:</p>
                        <div style="margin-left: 1.5rem;">
                            <mat-radio-group class="my-radio-group" [(ngModel)]="simulation.params.deliveryScenario"
                                             (change)="runSimulation();">
                                <ng-container *ngFor="let szenario of availableDeliveryScenarios">
                                    <mat-radio-button class="my-radio-button" [value]="szenario">{{szenario}}
                                    </mat-radio-button><br/>
                                </ng-container>
                            </mat-radio-group>
                        </div>
                    </div> -->

                    <div class="settings_row">
                        <mat-slide-toggle [(ngModel)]="simulation.params.considerStockPile"
                                          matTooltip="Lagerbestand, der zu Beginn der Simulation besteht, in die Simulation mit einfließen lassen.
                                          Überschätzt dadurch meist die Impfungen der nächsten Woche."
                                          (change)="runSimulation();" labelPosition="before">
                            Lagerbestand beachten
                        </mat-slide-toggle>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Impforganisation</strong></h2>

                    <div class="settings_row" matTooltip="Anteil Impfdosen, die nicht verimpft, sondern zurückgehalten werden für Personen, die noch eine Zweitimpfung benötigen.">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Rückstellungen für Zweitimpfungen:</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{simulation.params.keep2ndDosesBack*100 | number:'1.0-0'}} % </strong>
                            </div>
                        </div>
                        <mat-slider [(ngModel)]="simulation.params.keep2ndDosesBack" min="0" max="1.0" step="0.05"
                                    (change)="runSimulation();"></mat-slider>
                    </div>
                    <div class="settings_row" matTooltip="Extra Abstand zwischen Erst- und Zweitimpfung über die Empfehlung der STIKO hinaus.">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Abstand Erst- zu Zweitimpfung:</div>
                            <div fxFlex="0 0 auto" >
                                <span *ngIf="simulation.params.extraIntervalWeeks==0"> laut STIKO</span>
                                <span *ngIf="simulation.params.extraIntervalWeeks>0"><strong>{{simulation.params.extraIntervalWeeks}}
                                    Wochen länger</strong></span>
                                <span *ngIf="simulation.params.extraIntervalWeeks<0"><strong>{{-simulation.params.extraIntervalWeeks}}
                                    Wochen kürzer</strong></span>
                            </div>
                        </div>
                        <mat-slider [(ngModel)]="simulation.params.extraIntervalWeeks" min="-4" max="4" step="1"
                                    (change)="runSimulation();"></mat-slider>
                    </div>
                    <div class="settings_row"
                         matTooltip="Extra Abstand zwischen Erst- und Zweitimpfung nicht auf Personen anwenden, die bereits vor Simulationsbeginn erstgeimpft wurden.">
                        <mat-slide-toggle [(ngModel)]="simulation.params.extraIntervalWeeksOnlyFuture"
                                          (change)="runSimulation();" labelPosition="before">
                            Extra Abstand nur Neuimpfungen
                        </mat-slide-toggle>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Impfbereitschaft</strong></h2>

                    <div class="settings_row"
                         matTooltip="Personen für die Impfungen zugelassen wären, die aber nicht bereit sind, sich impfen zu lassen.">
                        <mat-slide-toggle [(ngModel)]="simulation.params.considerNotWilling"
                                          (change)="runSimulation();" labelPosition="before">
                            Impfunwillige beachten
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row"
                         matTooltip="Personen, die sich nur zögerlich impfen lassen; Lässt vor allem den Graph schöner aussehen. Details siehe Einschränkungen.">
                        <mat-slide-toggle [(ngModel)]="simulation.params.considerHesitating"
                                          (change)="runSimulation();" labelPosition="before">
                            Impfzögerliche beachten
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row"
                        matTooltip="Personen, für die Impfungen zugelassen wären, die theoretisch bereit wären, sich impfen zu lassen.
                        Standardwert ist der Anteil der Antworten [7-3] aus der Skala [7-1] der COSMO-Umfragen.">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Impfbereitschaft:</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{simulation.params.fractionWilling*100 | number:'1.0-0'}} % </strong>impfbereit
                            </div>
                        </div>
                        <div class="slider-with-reset" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxFlex="1 0 auto" >
                                <mat-slider [(ngModel)]="simulation.params.fractionWilling" min=".5" max="1.0" step="0.01"
                                            (change)="runSimulation();"></mat-slider>
                            </div>
                            <div fxFlex="0 0 auto" >
                                <button mat-icon-button aria-label="Zurücksetzen" (click)="resetWillingness()">
                                    <mat-icon>restore</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="settings_row" matTooltip="Anteil der erstgeimpften Personen, die eine vorgesehene zweite Impfdosis annehmen.">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Zweitimpfbereitschaft</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{simulation.params.fractionTakingSecondDose*100 | number:'1.0-0'}} % </strong>
                            </div>
                        </div>
                        <mat-slider [(ngModel)]="simulation.params.fractionTakingSecondDose" min=".5" max="1.0" step="0.01"
                                    (change)="runSimulation();"></mat-slider>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>



<div class="container" style="min-height: auto" fxLayout="column"
     fxLayoutGap="1rem" fxLayoutAlign="space-around">
    <div fxFlex="100" >
        <mat-card >
            <mat-card-title><h1>Informationen</h1>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>

            <mat-card-content class="mat-padding">
                <h2>Was wie wo</h2>
                <p>
                    Ein kleines Amateur-Bastelprojekt, um historische Daten, Simulationen für die Zukunft
                    und weitere Infos zur Impfkampagne gegen Covid-19 in Deutschland in einem Dashboard zusammenzuführen.<br>
                    Alles ist mit einer gewissen Skepsis zu betrachten, das hier ist schließlich keine offizielle Vorhersage.<br>
                    Wenn ihr etwas beitragen oder selbst mit dem Code rumspielen wollt, findet ihr alles auf <a href="https://github.com/Cov19-Impfvorhersage/cov19vaccsim">GitHub</a>.
                </p>

                <h2>Linksammlung weiterer Dashboards</h2>
                <ul>
                    <li>
                        <a href="https://impfdashboard.de">Impfdashboard.de</a>
                        Offizielles Impfdashboard des RKI (und Datenquelle für dieses Dashboard)
                    </li>
                    <li>
                        <a href="https://www.zidatasciencelab.de/cov19vaccsim">Impfsimulation des Zi Datascience Lab</a>
                        Worauf diese Seite aufbaut
                    </li>
                    <li>
                        <a href="https://www.zidatasciencelab.de/covidimpfindex/">Impfindex-Dashboard des Zi Datascience Lab</a>
                        Analysen insbesondere zur Aufteilung Impfzentren / Arztpraxen
                    </li>
                </ul>

                <h2>Methodik der Simulation</h2>
                <p>
                    Im groben basiert die Simulation auf dem Algorithmus des <a href="https://www.zidatasciencelab.de/cov19vaccsim">Impfdashboards des Zi Datascience Lab</a>.
                </p>
                <p>
                    In kurz:<br>
                    Für jede Woche werden mit den verfügbaren Impfdosen erst alle angesetzten Zweitimpfungen durchgeführt, mit dem Rest dann so viele Erstimpfungen wie möglich.<br>
                    Für genaue Details ist es vermutlich am besten, einfach direkt den <a href="https://github.com/Cov19-Impfvorhersage/cov19vaccsim/blob/master/Dashboard/src/app/simulation/simulation.ts">Quellcode der Simulation</a> zu lesen.
                </p>
                <h3>
                    Einschränkungen:
                </h3>
                <ul>
                    <li>
                        <b>Keine Simulation der Kapazitäten:</b><br>
                        Die Annahme ist, dass für jede verfügbare Impfdosis, für die sich eine impfwillige Person findet, sich auch ein Weg in den Arm auftut.
                        Hausärzt:innen impfen bereits mit und wenn genug da ist, tun das sicher gerne auch Betriebsärzt:innen, Tierärzt:innen, etc; zur Not auch in 24h-Schicht.<br>
                        Eine Kapazitätssimulation findet sich auf dem <a href="https://www.zidatasciencelab.de/cov19vaccsim">Impfdashboards des Zi Datascience Lab</a>
                    </li>
                    <li>
                        <b>Verzögertes Verfügbarwerden der Impfdosen:</b><br>
                        Auch wenn Impfdosen offiziell geliefert wurden, so müssen sie immer noch an die Einsatzorte verteilt werden.
                        Daraus ergibt sich seit Beginn der Kampagne eine 1 - 2-wöchige Verzögerung von Lieferung => Arm.
                        Dies gilt für ziemlich alle Länder und Staaten und wird hier simuliert, indem die gelieferten Dosen einfach erst in der darauffolgenden Woche verfügbar werden.
                        Sollte diese Annahme nicht stimmen (z.B. teilweise aktuell für BioNtech),
                        wird das durch die Nichtbehandlung negativer Lagerbestände teilweise ausgeglichen (siehe nächster Punkt).
                    </li>
                    <li>
                        <b>Lagerbestand an Impfdosen:</b><br>
                        Für den Beginn der Simulation wird der aktuelle Lagerbestand (mit verzögerter Verfügbarwerdung) der Impfdosen berechnet.
                        Dieser fließt, wenn der Schalter aktiviert wird, in die Simulation mit ein. Allerdings werden negative Lagerbestände
                        (aka. Lieferungen die entgegen der Annahme im Absatz darüber noch in der selben Woche verimpft wurden) einfach ignoriert.
                        Dadurch wird die Vorhersage für die nächsten Wochen besser, aber die Zahlen sind in der Summe am Ende theoretisch nicht mehr ganz korrekt.
                    </li>
                    <li>
                        <b>Zweitimpfungen:</b><br>
                        Zweitimpfungen werden entsprechend der RKI-Empfehlung angesetzt, allerdings ist die Warteschlange aus den historischen Daten nicht ganz berechenbar:<br>
                        Es kann zwar abgeschätzt werden, wie viele Zweitimpfungen nötig sind, wenn das Intervall für jede Person exakt nach STIKO-Empfehlungen angewendet wird;
                        aber teilweise werden kürzere Intervalle angewendet. Dies ist insbesondere der Fall, wenn die Simulation zu früheren Zeitpunkten gestartet wird,
                        da sie aktuell stets die letzten STIKO-Empfehlungen verwendet.
                    </li>
                    <li>
                        <b>Aufteilung der Bevölkerung:</b><br>
                        Um den Teil der Bevölkerung zu simulieren, der die Impfung erhalten wird, werden zunächst die Kontraindizierten abgezogen.
                        Dies sind vor allem alle unter 16 jährigen, da bisher keiner der Impfstoffe für diese Altersgruppe zugelassen wurde.
                        Anschließend wird vom Rest der Bevölkerung der Anteil Impfunwilliger abgezogen.
                        Dies ist für die meisten Berechnungen sinnvoll, insbesondere da die Umfragen zur Impfwilligkeit sich meist
                        auf die volljährige Bevölkerung beziehen und dies auch diejenigen sind, für die die Impfstoffe aktuell zugelassen sind.
                    </li>
                    <li>
                        <b>Impfbereitschaft:</b><br>
                        Die Impfwilligkeitsdaten aus den <a href="https://projekte.uni-erfurt.de/cosmo2020/">COSMO-Umfragen</a> werden wie folgt interpretiert:<br>
                        Die Antworten zur Impfbereitschaft zwischen 7 (auf jeden Fall impfen) und 1 (auf keinen Fall impfen) in die Gruppen:<br>
                        [7]: Impfwillig; [6,5]: Eher impfwillig; [4,3]: Eher impfunwillig (Impfzögerlich); [2,1]: Impfunwillig<br>
                        Der Anteil Impfunwilliger wird dabei als Standardeinstellung für die Impfwilligkeit verwendet, die Impfzögerlichen wie unten beschrieben.
                        Der restliche Teil wird homogen als impfbereit betrachtet.
                        Darüber hinaus wird die Impfbereitschaft aktuell als homogen für alle Alters- und Prioritätsgruppen angenommen,
                        <a href="https://assets.rrz.uni-hamburg.de/instance_assets/fakws/16982038/impfbereitschaft-nach-alter-de-en-733x414-a12762b14c33380471c46edd52d2e81c4b598036.jpg">
                            was definitiv nicht der Realität entspricht,
                        </a> aber für die Darstellungen hier ausreichen dürfte.
                    </li>
                    <li>
                        <b>Impfzögerliche:</b><br>
                        Gegen Ende der Impfkampagne wird diese deutlich langsamer, da sich immer weniger impfwillige Leute finden.
                        Dies wird hier wie folgt simuliert:<br>
                        Während von den Impfwilligen jede Woche 100% bereit wären und von den Impfunwilligen 0%,
                        ist dies bei den Impfzögerlichen ein fließender Übergang zwischen 50% und 10%.
                        Die Zahlen sind komplett aus der Luft gegriffen, weil der Plot dann schön aussieht.
                    </li>
                </ul>


                <h2>Datenquellen</h2>
                <ul>
                    <li>
                        Historische Impf- und Lieferdaten stammen vom <a href="https://impfdashboard.de">Offiziellen Impfdashboard (impfdashboard.de)</a> und damit vom RKI & BMG.
                    </li>
                    <li>
                        Zukünftige Lieferpläne stammen vom <a href="https://www.zidatasciencelab.de/cov19vaccsim/">Zi Datascience Lab</a> und damit vom BMG.
                    </li>
                    <li>
                        Daten zur Impfbereitschaft stammen von der <a href="https://projekte.uni-erfurt.de/cosmo2020/">COSMO Studie der Universität Erfurt</a>.
                    </li>
                    <li>
                        <a href="https://github.com/Cov19-Impfvorhersage/cov19vaccsim/tree/master/Dashboard/data">Sonstige Datensätze (Bevölkerung etc...) finden sich im GitHub Repo</a> mit ihren jeweiligen Quellen.
                    </li>
                </ul>

                <h2>Datenschutz usw...</h2>
                <p>
                    Dies ist eine statische GitHub Page, dementsprechend gilt auch die <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">Privacy Policy von GitHub</a>.
                    Es werden keine Cookies verwendet und keine Tracker oder so eingebunden (aber Aufrufe gezählt).
                    Allerdings werden die oben genannten Datenquellen teilweise dynamisch (also vom Browser aus) eingebunden (dadurch sind sie automatisch immer auf dem neuesten Stand).<br>
                    D.h. der Browser fragt z.B. die Tabelle vom <a href="https://impfdashboard.de">impfdashboard.de</a> direkt an.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
