



<div class="cont_ainer" style="margin-left: 0.5rem; margin-right: 0.5rem;" [ngStyle.lt-md]="{'padding': '0.1rem', 'margin': 'auto'}" fxLayout="row" fxLayout.lt-md="column"
     fxLayoutAlign="space-around stretch">

    <div fxFlex="1 0 600px" fxFlex.lt-md="1 1 0" >
        <mat-card>
            <mat-card-title>
                <h1>Impfkampagne in Deutschland</h1>
            </mat-card-title>
            <mat-card-content>
                <app-dummy-chart
                    class="dummy-chart"
                    style="width: 100%"
                    [data]="data"
                ></app-dummy-chart>
            </mat-card-content>

            <mat-card-subtitle>Datenbasis: Impfungen lt. RKI (Stand {{dataloader.lastRefreshVaccinations | date:'shortDate'}}), Lieferungen lt. BMG (Stand {{dataloader.lastRefreshDeliveries | date:'shortDate'}})</mat-card-subtitle>
        </mat-card>
    </div>

    <div fxFlex="0.1 0 350px" fxFlex.lt-md="0.5 0 0">
        <mat-card>
            <mat-card-title>Simulationsparameter</mat-card-title>
            <mat-card-content class="settings_card">
                <div>
                    <h2><strong>Zulassung</strong></h2>
                    <div class="settings_row">
                        <mat-slide-toggle [(ngModel)]="simulation.params.considerContraindicated"
                                          (change)="runSimulation();" labelPosition="before">
                            Kontraindizierte beachten (vor allem Alter)
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row">
                        <p>Ausfall / Zulassung simulieren:</p>
                        <!--<p
                            *ngFor="let hersteller of hersteller_zugelassen_details">
                            <ng-container *ngIf="!hersteller.checked">
                                <mat-checkbox [(ngModel)]="hersteller.checked" (change)="addremovehst(hersteller.hersteller,false);update_kapazitaet();" >
                                    {{hersteller.hersteller}}
                                </mat-checkbox>
                            </ng-container>
                            <ng-container *ngIf="hersteller.checked">
                                <mat-checkbox [(ngModel)]="hersteller.checked" (change)="addremovehst(hersteller.hersteller,true);update_kapazitaet();" >
                                    {{hersteller.hersteller}}
                                </mat-checkbox>
                            </ng-container>

                        </p>-->
                        <!--<p
                            *ngFor="let hersteller of hersteller_nicht_zugelassen">
                            <mat-checkbox [(ngModel)]="hersteller.checked"
                                          (change)="addremovehst(hersteller.hersteller,hersteller.checked);update_kapazitaet();" >
                                {{hersteller.hersteller}}
                            </mat-checkbox>
                        </p>-->
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Lieferung</strong></h2>
                    <div class="settings_row">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Liefermenge:</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{simulation.params.deliveryAmountFactor*100 | number:'1.0-0'}} %</strong>
                            </div>
                        </div>
                        <mat-slider [(ngModel)]="simulation.params.deliveryAmountFactor" min=".8" max="1.2" step="0.01"
                                    (change)="runSimulation();"></mat-slider>
                    </div>
                    <div class="settings_row">
                        <p>Verteilung der Lieferungen:</p>
                        <div style="margin-left: 1.5rem;">
                            <mat-radio-group class="my-radio-group" [(ngModel)]="simulation.params.deliveryScenario"
                                             (change)="runSimulation();">
                                <ng-container *ngFor="let szenario of availableDeliveryScenarios">
                                    <mat-radio-button class="my-radio-button" [value]="szenario">{{szenario}}
                                    </mat-radio-button><br/>
                                </ng-container>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Impforganisation</strong></h2>

                    <div class="settings_row" >
                        <mat-slide-toggle [(ngModel)]="simulation.params.keep2ndDosesBack"
                                          (change)="runSimulation();" labelPosition="before">
                            Rückstellungen für Zweitimpfungen
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Abstand Erst- zu Zweitimpfung:</div>
                            <div fxFlex="0 0 auto" >
                                <span *ngIf="simulation.params.extraIntervalWeeks==0"> laut STIKO</span>
                                <span *ngIf="simulation.params.extraIntervalWeeks>0"><strong>{{simulation.params.extraIntervalWeeks}}
                                    Wochen länger</strong></span>
                            </div>
                        </div>
                        <mat-slider [(ngModel)]="simulation.params.extraIntervalWeeks" min="0" max="12" step="1"
                                    (change)="runSimulation();"></mat-slider>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Impfbereitschaft</strong></h2>

                    <div class="settings_row">
                        <mat-slide-toggle [(ngModel)]="simulation.params.considerNotWilling"
                                          (change)="runSimulation();" labelPosition="before">
                            Nicht Impfwillige beachten
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Impfbereitschaft:</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{simulation.params.fractionWilling*100 | number:'1.0-0'}} % </strong>impfbereit
                            </div>
                        </div>
                        <mat-slider [(ngModel)]="simulation.params.fractionWilling" min=".5" max="1.0" step="0.05"
                                    (change)="runSimulation();"></mat-slider>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>



<div class="container" style="min-height: auto" fxLayout="column"
     fxLayoutGap="1rem" fxLayoutAlign="space-around">
    <div fxFlex="100" >
        <mat-card >
            <mat-card-title><h1>Informationen</h1>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>

            <mat-card-content class="mat-padding">
                <h2>Was wie wo</h2>
                <p>
                    Ein kleines Projekt um historische Daten, Simulationen für die Zukunft und Infos zur Impfkampagne gegen Covid-19 in Deutschland in einem Dashboard anzuzeigen.<br>
                    Wenn ihr etwas beitragen oder selbst mit dem Code rumspielen wollt, findet ihr alles auf <a href="https://github.com/Cov19-Impfvorhersage/cov19vaccsim">GitHub</a>.
                </p>

                <h2>Methodik der Simulation</h2>
                <p>
                    Im groben basiert die Simulation auf dem Algorithmus des <a href="https://www.zidatasciencelab.de/cov19vaccsim">Impfdashboards des Zi Datascience Lab</a>.
                </p>
                <p>
                    In kurz:<br>
                    Für jede Woche werden mit den verfügbaren Impfdosen erst alle angesetzten Zweitimpfungen durchgeführt, mit dem Rest dann so viele Erstimpfungen wie möglich.
                </p>
                <h3>
                    Einschränkungen:
                </h3>
                <ul>
                    <li>
                        Keine Simulation der Kapazitäten:<br>
                        Die Annahme ist dass für jede verfügbare Impfdosis für die sich eine impfwillige Person findet sich auch ein Weg in den Arm auftut.
                        Hausärzte impfen bereits mit und wenn genug da ist tun das sicher gerne auch Betriebsärzte, Tierärzte, etc; zur Not auch in 24h-Schicht.<br>
                        Eine Kapazitätssimulation findet sich auf dem <a href="https://www.zidatasciencelab.de/cov19vaccsim">Impfdashboards des Zi Datascience Lab</a>
                    </li>
                    <li>
                        Verzögertes Verfügbarwerden der Impfdosen:<br>
                        Auch wenn Impfdosen offiziell geliefert wurden so müssen sie immer noch an die Einsatzorte verteilt werden.
                        Daraus ergibt sich seit Beginn der Kampagne eine 1 - 2-wöchige Verzögerung von Lieferung => Arm.
                        Dies gilt für ziemlich alle Länder und Staaten und wird hier simuliert indem die gelieferten Dosen einfach erst in der darauffolgenden Woche verfügbar werden.
                    </li>
                    <li>
                        Aufteilung der Bevölkerung:<br>
                        Um den Teil der Bevölkerung zu simulieren, der die Impfung erhalten wird, werden zunächst die Kontraindizierten abgezogen.
                        Dies sind vor allem alle unter 16 jährigen da bisher keiner der Impfstoffe für diese Altersgruppe zugelassen wurde.
                        Anschließend wird vom Rest der Bevölkerung der Anteil Impfunwilliger abgezogen.
                        Dies ist für die meisten Berechnungen sinnvoll, insbesondere da die Umfragen zur Impfwilligkeit sich meist auf die volljährige Bevölkerung beziehen und dies auch diejenigen sind für die die Impfstoffe aktuell zugelassen sind.
                    </li>
                </ul>


                <h2>Datenquellen</h2>
                <ul>
                    <li>
                        Historische Impf- und Lieferdaten stammen vom <a href="https://impfdashboard.de">Offiziellen Impfdashboard (impfdashboard.de)</a> und damit vom RKI & BMG.
                    </li>
                    <li>
                        Zukünftige Lieferpläne stammen vom <a href="https://www.zidatasciencelab.de/cov19vaccsim/">Zi Datascience Lab</a> und damit vom BMG.
                    </li>
                    <li>
                        <a href="https://github.com/Cov19-Impfvorhersage/cov19vaccsim/tree/master/Dashboard/data">Sonstige Datensätze (Bevölkerung etc...) finden sich im GitHub Repo</a> mit ihren jeweiligen Quellen.
                    </li>
                </ul>

                <h2>Datenschutz usw...</h2>
                <p>
                    Dies ist eine statische GitHub Page, dementsprechend gilt auch die <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">Privacy Policy von GitHub</a>.
                    Es werden keine Cookies verwendet und keine Tracker oder so eingebunden.
                    Allerdings werden die oben genannten Datenquellen dynamisch (also vom Browser aus) eingebunden (dadurch sind sie automatisch immer auf dem neuesten Stand).
                </p>
            </mat-card-content>

        </mat-card>
    </div>
</div>
